<div class="col-md-3 sidebar">
  <div class="sidebar__block">
    <h2>Select by Subject</h2>
    <p>
      <a href="ConferenceSubject?subject=BLS">Biomedical &amp; Life Sciences</a>
    </p>
    <p>
      <a href="ConferenceSubject?subject=BE">Business &amp; Economics</a>
    </p>
    <p>
      <a href="ConferenceSubject?subject=CMS">Chemistry &amp; Materials Science</a>
    </p>
    <p>
      <a href="ConferenceSubject?subject=CSC">Computer Science &amp; Communications</a>
    </p>
    <p>
      <a href="ConferenceSubject?subject=EES">Earth &amp; Environmental Sciences</a>
    </p>
    <p>
      <a href="ConferenceSubject?subject=EG">Engineering</a>
    </p>
    <p>
      <a href="ConferenceSubject?subject=MH">Medicine &amp; Healthcare</a>
    </p>
    <p>
      <a href="ConferenceSubject?subject=PM">Physics &amp; Mathematics</a>
    </p>
    <p>
      <a href="ConferenceSubject?subject=SSH">Social Sciences &amp; Humanities</a>
    </p>
  </div>
  <div class="sidebar__block">
    <h2>Select by City</h2>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Bangkok.jpg" alt="">Bangkok</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Beijing.jpg" alt="">Beijing</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Chengdu.jpg" alt="">Chengdu</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Guilin.jpg" alt="">Guilin</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Xiamen.jpg" alt="">Hangzhou</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/LosAngeles.jpg" alt="">Los Angeles</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Nanjing.jpg" alt="">Nanjing</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/USA.jpg" alt="">Reston, Virginia</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Sanya.jpg" alt="">Sanya</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Shanghai.jpg" alt="">Shanghai</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Shenzhen.jpg" alt="">Shenzhen</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Suzhou.jpg" alt="">Suzhou</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Wuhan.jpg" alt="">Wuhan</a>
    </p>
    <p>
      <a href=""><img class="sidebar__thumb" src="__PUBLIC__/img/Xi'an.jpg" alt="">Xi'an</a>
    </p>
  </div>
  <div class="sidebar__block">
    <h2>Contact Us</h2>
  </div>
</div>
