<div class="footer">
  <div class="footer__img">
    <a class="" href=""><img src="__PUBLIC__/img/srp.jpg" alt=""></a>
    <a class="" href=""><img src="__PUBLIC__/img/hans.jpg" alt=""></a>
    <a class="" href=""><img src="__PUBLIC__/img/cross-ref.jpg" alt=""></a>
    <a class="" href=""><img src="__PUBLIC__/img/openaccess-engii.jpg" alt=""></a>
    <a class="" href=""><img src="__PUBLIC__/img/ebsco.jpg" alt=""></a>
    <a class="" href=""><img src="__PUBLIC__/img/proquest.jpg" alt=""></a>
    <a class="" href=""><img src="__PUBLIC__/img/thompson-reuters.jpg" alt=""></a>
    <a class="" href=""><img src="__PUBLIC__/img/index-copernicus.jpg" alt=""></a>
  </div>
  <div class="footer__links">
    <a href="">Home</a>
    <span>|</span>
    <a href="">About Engii</a>
    <span>|</span>
    <a href="">Conference</a>
    <span>|</span>
    <a href="">Sponsorship</a>
    <span>|</span>
    <a href="">Contact us</a>
    <span>|</span>
  </div>
  <div class="footer__copyright">
    Copyright © 2007 - 2016 Engineering Information Institute. All rights reserved.
  </div>
</div>
