<include file="public/indexhead" />

  <body>
    <div class="wrapper">
      <include file="public/indexlogobanner" />
      <!-- content -->
      <div class="container-fluid">
        <div class="row">
          <include file="public/indexside" />
          <div class="col-md-9 main">

            <h3 style="color: #C82227;">About Engii</h3>
                    <div class="td1">
                        <b>Engineering Information Institute(Engii)</b> is an international scientific institution. Engii holds global conferences every year cooperating with some famous publishers and top universities in the world.
                    </div>
                    <h3 style="color: #C82227;">
                        Our Missions
                    </h3>
                    <div class="td1">
                        Our mission is to meet the satisfactions of our authors involved in all kinds of comprehensive conferences. We are engaged in organizing and promoting the conferences, publishing the high-quality conference proceedings, as well as providing services to our authors for some specific process such as how to submit papers. Sharing and progressing are our final goals.
                    </div>
                    <h3 style="color: #C82227;">
                        Benefit for You
                    </h3>
                    <div class="td1">
                        Engii offers a perfect circumstance to share scientific resources, exchange their own research experiences, and innovate in studying for all the scholars of the world. Through Engii, we dedicate to delivering efficient and latest information to interested people. We look forward to benefiting and establishing harmonious relationship with everybody.
                    </div>
                    <br />

   <span style="color:Black;">
    For more information, please contact:<br />
    Email:<a style="color:Blue; text-decoration: underline;" href="mailto:service@engii.org">service@engii.org</a></span>
    <br />
    </div>
    </div>
  </div>
      <include file="public/footer" />
    </div>
    <script src="../../../public/assets/home/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/assets/home/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>

</html>
