<include file="public/indexhead" />

  <body>
    <div class="wrapper">
    <include file="public/indexlogobanner" />
      <!-- content -->
      <div class="container-fluid">
        <div class="row">
          <include file="public/indexside" />
          <div class="col-md-9 main">
            <h3 style="color: #C82227;">
            Services</h3>
        <ul>
            <li>1.&nbsp;Make conference
                proceedings in PDF OR XML format.</li>
            <li>2.&nbsp;Help to organize conferences, including conference promotion, registration,
                hotel logistics,<br /> tickets and touring.</li>
        </ul>

    </div>
    </div>
  </div>
      <include file="public/footer" />
    </div>
    <script src="../../../public/assets/home/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/assets/home/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>

</html>
