<include file="public/indexhead" />
  <body>
    <div class="wrapper">
      <include file="public/indexlogobanner" />
      <!-- content -->
      <div class="container-fluid">
        <div class="row">
          <include file="public/indexside" />
          <div class="col-md-9 main">
            <div class="r_con3">
          <h3 style="color: #C82227;">
              Sponsorship</h3>
          <table cellpadding="0" cellspacing="0" border="0" class="table1">
              <tr>
                  <td>
                      <img src="../../../public/img/Sponsorship_clip_image002.jpg" alt="SponsorShip" width="270px" height="260px" />
                  </td>
                  <td class="td1">
                      Organizers acknowledge sponsors of an event by putting sponsor names on the website
                      and other materials. This will attract global attention because our delegates are
                      from all over the world. We offer a wide range of sponsoring categories for branding
                      and highlighting your company in order to achieve the best publicity.<br />
                      <br />
                      <ol style="margin: 0 0 0 0; padding: 0 0 0 0">
                          <li>- Sessions </li>
                          <li>- Speaker Gifts</li>
                          <li>- Coffee Break</li>
                          <li>- Keynote Forum</li>
                          <li>- Welcome Banquet</li>
                      </ol>
                  </td>
              </tr>
          </table>
      </div>
       <div class="r_con3">
          <h3 style="color: #C82227;">
              Exhibition</h3>
          <table cellpadding="0" cellspacing="0" border="0" class="table1">
              <tr>
                  <td class="td1" colspan="2">
                      Engii holds global conferences every year. The conference themes cover different
                      fields, and the invited famous scholars and experts from all over the world will
                      exchange the latest research results and share the advanced research methods. We
                      would like to share this valuable opportunity with related enterprises to exchange
                      technologies and promote businesses.<br />
                      <br />
                      Reasons for exhibition on Engii Conferences
                      <ul style="margin: 0 0 0 0; padding: 0 0 0 0">
                          <li style="margin-bottom: 10px; margin-top: 10px;">1.&nbsp;Get acquainted with the researchers,
                              scholars and colleagues in the field of engineering and technology from all over
                              the world, get to know the latest trend of this industry development, enhance the
                              technology exchanging, and discuss the newly developed issues. </li>
                          <li style="margin-bottom: 10px;">2.&nbsp;Expose and promote your new ideas, new technologies
                              and new products.</li>
                          <li style="margin-bottom: 10px;">3.&nbsp;Exchange your opinions with the experts face to
                              face and broaden your network of interpersonal relationship.</li>
                          <li>4.&nbsp;You can even hold a mini size job fair to get acquainted with the high leveled
                              talents and postgraduates in related fields, and attract them to join in your company.</li>
                      </ul>
                  </td>
              </tr>
              <tr>
                  <td style="height: 25px" colspan="2">
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                      For more information, please contact:
                      <br />
                      Email:<a style="color: Blue;" href="mailto:service@engii.org">service@engii.org</a>
                  </td>
              </tr>
          </table>
      </div>

    </div>
    </div>
  </div>
    <include file="public/footer" />
    </div>
    <script src="../../../public/assets/home/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/assets/home/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>

</html>
