<include file="public/indexhead" />
  <body>
    <div class="wrapper">
      <include file="public/conferencelogo"/>
      <!-- carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- content -->
      <div class="container-fluid">
        <div class="row">
          <include file="public/conferenceside"/>
          <div class="col-md-9 main">
            <h2>Biomedical &amp; Life Sciences</h2>
            <ul class="main__ul">
              <li>
                <a href="">The 3rd Conference on Structural Biology (CSB 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">The 3rd Conference on Advances in Cell Biology (CACB 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">The 11th International Conference on Bioinformatics and Biomedical Engineering (iCBBE 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
            <h2>Business &amp; Economics</h2>
            <ul class="main__ul">
              <li>
                <a href="">Int'l Symposium on Economics (ISE 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
            <h2>Chemistry &amp; Materials Science</h2>
            <ul class="main__ul">
              <li>
                <a href="">The Int'l Conference on New Materials and Applications (NMA 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">The 2nd Int’l Conference on Biomaterials and Applications (ICBA 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">The 3rd Int'l Conference on Advanced Composite Materials (ACM 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
            <h2>Computer Science &amp; Communications</h2>
            <ul class="main__ul">
              <li>
                <a href="">The Int'l Conference on New Materials and Applications (NMA 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">The 2nd Int’l Conference on Biomaterials and Applications (ICBA 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">The 13th Int'l Conference on Wireless Communications, Networking and Mobile Computing (WiCOM 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">The 13th Int'l Conference on Wireless Communications, Networking and Mobile Computing (WiCOM 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">The 13th Int'l Conference on Wireless Communications, Networking and Mobile Computing (WiCOM 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
            <h2>Earth &amp; Environmental Sciences</h2>
            <ul class="main__ul">
              <li>
                <a href="">Int'l Conference on Structural Geology and Geodynamics (SGG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Mineral Deposits and Petromineralogy (MDP 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Sedimentology and Petroleum Geology (SPG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Hydrogeology and Engineering Geology (HEG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Geomechanics (ICG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
            <h2>Engineering</h2>
            <ul class="main__ul">
              <li>
                <a href="">Int'l Conference on Structural Geology and Geodynamics (SGG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Mineral Deposits and Petromineralogy (MDP 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Sedimentology and Petroleum Geology (SPG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Hydrogeology and Engineering Geology (HEG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Geomechanics (ICG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
            <h2>Medicine &amp; Healthcare</h2>
            <ul class="main__ul">
              <li>
                <a href="">Int'l Conference on Structural Geology and Geodynamics (SGG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Mineral Deposits and Petromineralogy (MDP 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Sedimentology and Petroleum Geology (SPG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Hydrogeology and Engineering Geology (HEG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Geomechanics (ICG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
            <h2>Physics &amp; Mathematics</h2>
            <ul class="main__ul">
              <li>
                <a href="">Int'l Conference on Structural Geology and Geodynamics (SGG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Mineral Deposits and Petromineralogy (MDP 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Sedimentology and Petroleum Geology (SPG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Hydrogeology and Engineering Geology (HEG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Geomechanics (ICG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
            <h2>Social Sciences &amp; Humanities</h2>
            <ul class="main__ul">
              <li>
                <a href="">Int'l Conference on Structural Geology and Geodynamics (SGG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Mineral Deposits and Petromineralogy (MDP 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Sedimentology and Petroleum Geology (SPG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Hydrogeology and Engineering Geology (HEG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
              <li>
                <a href="">Int'l Conference on Geomechanics (ICG 2017)</a><span>Xi'an, Mar. 18, 2017</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <include file="public/footer" />
    </div>

    <script src="../../../public/assets/home/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/assets/home/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>

</html>
