<include file="public/conferencehead" />
  <body>
    <div class="wrapper">
      <!-- logobar -->
      <div class="logobar">
        <div class="logo__wrap">
          <span class="logobar__logo"></span>
          <span>Science</span>
          <span>Information Institute</span>
          <p>Sharing, Cooperating and Improving</p>
        </div>
        <label class="searchbar" for="searchbar">
          Search:
          <input id="searchbar" type="search" name="" value="">
        </label>
      </div>
      <!-- navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="../Index/index.html">Home</a></li>
              <li><a href="AllConferences.html">Conferences</a></li>
              <li><a href="http://www.natscipub.org">Journals</a></li>
              <li><a href="#">Articles</a></li>
              <li><a href="../Index/service.html">Services</a></li>
              <li><a href="../Index/SponsorShip.html">Sponsorship</a></li>
              <li><a href="../Index/about_us.html">About Us</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
      <!-- carousel -->
      <div class="banner row">
        <!-- carousel -->
        <div id="carousel-example-generic" class="carousel slide col-md-10" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="../../../public/img/banner1.png">
            </div>
            <div class="item">
              <img src="../../../public/img/banner2.png">
            </div>
            <div class="item">
              <img src="../../../public/img/banner3.png">
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row banner__row">
            <a href="" class="col-md-6"><img src="../../../public/img/banner-book1.jpg" alt="" style="width: 100%;height: 110px;"></a>
            <a href="" class="col-md-6"><img src="../../../public/img/banner-book2.jpg" alt="" style="width: 100%;height: 110px;"></a>
          </div>
          <div class="row banner__row">
            <a href="" class="col-md-6"><img src="../../../public/img/banner-book3.jpg" alt="" style="width: 100%;height: 110px;"></a>
            <a href="" class="col-md-6"><img src="../../../public/img/banner-book4.jpg" alt="" style="width: 100%;height: 110px;"></a>
          </div>
        </div>
      </div>
      <!-- content -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 sidebar">
            <div class="sidebar__block">
              <h2>Hot Links &gt;&gt;</h2>
              <p>
                <a href="">Registration</a>
              </p>
              <p>
                <a href="">Template for Manuscripts</a>
              </p>
            </div>
            <div class="sidebar__block">
              <h2>Conference &gt;&gt;</h2>
              <p>
                <a href="">Home</a>
              </p>
              <p>
                <a href="">What's New</a>
              </p>
              <p>
                <a href="">Call for Papers</a>
              </p>
              <p>
                <a href="">Important Dates</a>
              </p>
            </div>
            <div class="sidebar__block">
              <h2>Organization &gt;&gt;</h2>
              <p>
                <a href="">Organizing Committee</a>
              </p>
              <p>
                <a href="">Conference Speakers</a>
              </p>
              <p>
                <a href="">Conference Program</a>
              </p>
              <p>
                <a href="">Sponsors</a>
              </p>
            </div>
            <div class="sidebar__block">
              <h2>For Participant &gt;&gt;</h2>
              <p>
                <a href="">Venue</a>
              </p>
              <p>
                <a href="">Registration Fee</a>
              </p>
              <p>
                <a href="">Conferences History</a>
              </p>
              <p>
                <a href="">FAQ</a>
              </p>
            </div>
            <div class="sidebar__block">
              <h2>Media Partners &gt;&gt;</h2>
              <p>
                <a href=""><img src="../../../public/img/med66.jpg" alt="" style="width:100%;"></a>
              </p>
            </div>
          </div>
          <div class="col-md-9 main">
            <div class="main__block">
              <h2>Welcome Message</h2>
              <p>The 3rd Conference on Structural Biology (CSB 2017) will be held from March 18 to 20, 2017 in Xi'an, China. This Conference will cover issues on Structural Biology. It dedicates to creating a stage for exchanging the latest research results
                and sharing the advanced research methods. </p>
              <p>
                CSB 2017 will be co-located with the following conferences:
              </p>
              <p>
                <a href="">The 4th Conference on Protein and Proteomics (CPP 2017)</a>
              </p>
              <p>
                <a href="">The 4th Conference on Botany (CB 2017)</a>
              </p>
              <p>
                <a href="">The 3rd Conference on Advances in Cell Biology (CACB 2017)</a>
              </p>
              <p>
                CSB 2017 is devoted to the advancement of structural biology. Structural biology is a branch of molecular biology, biochemistry, and biophysics concerned with the molecular structure of biological macromolecules, especially proteins and nucleic acids,
                how they acquire the structures they have, and how alterations in their structures affect their function. The scope of CSB 2017 covers both theoretical and practical areas of structural biology; Fields of interest include, but are not
                limited to the following: structural genomics, gene regulation/signaling, structural proteomics, membrane proteins, protein expression and purification, protein folding/modification, crystallization, protein structure prediction, protein
                interactions, drug targets, methodology of structural biology, and bioinformatics.
              </p>
              <p>
                CSB 2017 will be a valuable and important platform for inspiring international and interdisciplinary exchange at the forefront of structural biology. The Conference will bring together academicians, biomedical teachers/students, and biochemists/biophysicists
                from all over the world, and we hope that you will take this opportunity to join us for academic exchange and visit the city of Xi'an. We look forward to seeing you in Xi'an in March 2017.
              </p>
            </div>
            <div class="main__block">
              <h2>Publication and Presentation</h2>
              <p>All the accepted papers will be published by "Journal of Biosciences and Medicines" (ISSN:2327-5081), a peer-reviewed open access journal that can ensure the widest dissemination of your published work. For more information, please visit:
                <a href="http://www.scirp.org/journal/jbm/">http://www.scirp.org/journal/jbm/</a> </p>
              <p>
                You’re welcome to submit abstracts for presentation. The abstracts are only used for an oral presentation and will not be published in the conference journal.
              </p>
            </div>
            <div class="main__block">
              <h2>Conference Speakers</h2>
              <div class="row">
                <div class="main__speaker col-md-4">
                  <img src="../../../public/img/speaker1.jpg" alt="" style="width:125px;height: 150px;">
                  <p>Dr. Engin Eroglu</p>
                  <p>Düzce Univesity, Turkey</p>
                </div>
                <div class="main__speaker col-md-4">
                  <img src="../../../public/img/speaker2.jpg" alt="" style="width:125px;height: 150px;">
                  <p>Dr. Engin Eroglu</p>
                  <p>Düzce Univesity, Turkey</p>
                </div>
                <div class="main__speaker col-md-4">
                  <img src="../../../public/img/speaker3.png" alt="" style="width:125px;height: 150px;">
                  <p>Dr. Engin Eroglu</p>
                  <p>Düzce Univesity, Turkey</p>
                </div>
              </div>
              <div class="row">
                <div class="main__speaker col-md-4">
                  <img src="../../../public/img/speaker4.jpg" alt="" style="width:125px;height: 150px;">
                  <p>Dr. Engin Eroglu</p>
                  <p>Düzce Univesity, Turkey</p>
                </div>
                <div class="main__speaker col-md-4">
                  <img src="../../../public/img/speaker5.jpg" alt="" style="width:125px;height: 150px;">
                  <p>Dr. Engin Eroglu</p>
                  <p>Düzce Univesity, Turkey</p>
                </div>
                <div class="main__speaker col-md-4">
                  <img src="../../../public/img/speaker6.bmp" alt="" style="width:125px;height: 150px;">
                  <p>Dr. Engin Eroglu</p>
                  <p>Düzce Univesity, Turkey</p>
                </div>
              </div>
              <div class="row">
                <div class="main__speaker col-md-4">
                  <img src="../../../public/img/speaker7.bmp" alt="" style="width:125px;height: 150px;">
                  <p>Dr. Engin Eroglu</p>
                  <p>Düzce Univesity, Turkey</p>
                </div>
                <div class="main__speaker col-md-4">
                  <img src="../../../public/img/speaker8.jpg" alt="" style="width:125px;height: 150px;">
                  <p>Dr. Engin Eroglu</p>
                  <p>Düzce Univesity, Turkey</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <include file="public/footer" />
    </div>

    <script src="../../../public/assets/home/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/assets/home/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>

</html>
