<include file="public/conferencehead" />
  <body>
    <div class="wrapper">
      <include file="public/conferencelogo"/>
      <!-- carousel -->
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <div class="container-fluid">
        <div class="row">
          <include file="public/conferenceside"/>
          <div class="col-md-9">
        <div id="sitmeStyle">
        <div id="siteMapStyle">
            &nbsp;</div>
        <div id="muenfieldset" style="color: Black;">
            <a href="../Index/index.html">Home</a>&nbsp;&gt;&nbsp;<a href="AllConferences.html"
                class="a5">Conferences</a>&nbsp;&gt;&nbsp;<span id="ctl00_ContentPlaceHolder_center_span_field" class="spstyle5" style="color: #C82227;">{$SubjectName}</span>
        </div>
    </div>
    <fieldset class="fieldsetStyle">
        <div class="distyle12">
            <ul>  
                       <li class="new1">
                            <div style="float: left; text-align: left; width: 520px; overflow: hidden; white-space: nowrap;
                                text-overflow: ellipsis;">
                                &nbsp;<a href="http://www.engii.org/workshop/CSB/" target="_blank" style='font-weight: 400;'
                                    title='The 3rd Conference on Structural Biology'>The 3rd Conference on Structural Biology&nbsp;(CSB 2017)</a></div>
                            <div style="float: right; color: #999; font-family: Century Gothic; font-size: 11px;
                                font-style: italic;">
                                &nbsp;&nbsp;Mar. 18, 2017&nbsp;&nbsp;Xi'an
                            </div></li>

                        <li class="new1">
                            <div style="float: left; text-align: left; width: 520px; overflow: hidden; white-space: nowrap;
                                text-overflow: ellipsis;">
                                &nbsp;<a href="http://www.engii.org/workshop/CB/" target="_blank" style='font-weight: 400;font-weight: bold;'
                                    title='The 4th Conference on Botany'>The 4th Conference on Botany&nbsp;(CB 2017)</a></div>
                            <div style="float: right; color: #999; font-family: Century Gothic; font-size: 11px;
                                font-style: italic;">
                                &nbsp;&nbsp;Mar. 18, 2017&nbsp;&nbsp;Xi'an
                            </div></li>

                        <li class="new1">
                            <div style="float: left; text-align: left; width: 520px; overflow: hidden; white-space: nowrap;
                                text-overflow: ellipsis;">
                                &nbsp;<a href="http://www.engii.org/workshop/CACB/" target="_blank" style='font-weight: 400;'
                                    title='The 3rd Conference on Advances in Cell Biology'>The 3rd Conference on Advances in Cell Biology&nbsp;(CACB 2017)</a></div>
                            <div style="float: right; color: #999; font-family: Century Gothic; font-size: 11px;
                                font-style: italic;">
                                &nbsp;&nbsp;Mar. 18, 2017&nbsp;&nbsp;Xi'an
                            </div></li>

                        <li class="new1">
                            <div style="float: left; text-align: left; width: 520px; overflow: hidden; white-space: nowrap;
                                text-overflow: ellipsis;">
                                &nbsp;<a href="http://www.engii.org/workshop/cpp/" target="_blank" style='font-weight: 400;'
                                    title='The 4th Conference on Protein and Proteomics'>The 4th Conference on Protein and Proteomics&nbsp;(CPP 2017)</a></div>
                            <div style="float: right; color: #999; font-family: Century Gothic; font-size: 11px;
                                font-style: italic;">
                                &nbsp;&nbsp;Mar. 18, 2017&nbsp;&nbsp;Xi'an
                            </div></li>

                        <li class="new1">
                            <div style="float: left; text-align: left; width: 520px; overflow: hidden; white-space: nowrap;
                                text-overflow: ellipsis;">
                                &nbsp;<a href="http://www.engii.org/conference/iCBBE/" target="_blank" style='font-weight: 400;'
                                    title='The 11th International Conference on Bioinformatics and Biomedical Engineering'>The 11th International Conference on Bioinformatics and Biomedical Engineering&nbsp;(iCBBE 2017)</a></div>
                            <div style="float: right; color: #999; font-family: Century Gothic; font-size: 11px;
                                font-style: italic;">
                                &nbsp;&nbsp;May 21, 2017&nbsp;&nbsp;Hangzhou
                            </div></li>

                        <li class="new1">
                            <div style="float: left; text-align: left; width: 520px; overflow: hidden; white-space: nowrap;
                                text-overflow: ellipsis;">
                                &nbsp;<a href="http://www.engii.org/conference/CAPTC/" target="_blank" style='font-weight: 400;'
                                    title='The 3rd Conference on Advances in Prevention and Treatment of Cancer'>The 3rd Conference on Advances in Prevention and Treatment of Cancer&nbsp;(CAPTC 2017)</a></div>
                            <div style="float: right; color: #999; font-family: Century Gothic; font-size: 11px;
                                font-style: italic;">
                                &nbsp;&nbsp;May 21, 2017&nbsp;&nbsp;Hangzhou
                            </div></li>

                        <li class="new1">
                            <div style="float: left; text-align: left; width: 520px; overflow: hidden; white-space: nowrap;
                                text-overflow: ellipsis;">
                                &nbsp;<a href="http://www.engii.org/conference/CETM/" target="_blank" style='font-weight: 400;'
                                    title='The 3rd Conference on Ethnomedicine and Traditional Medicine'>The 3rd Conference on Ethnomedicine and Traditional Medicine&nbsp;(CETM 2017)</a></div>
                            <div style="float: right; color: #999; font-family: Century Gothic; font-size: 11px;
                                font-style: italic;">
                                &nbsp;&nbsp;May 21, 2017&nbsp;&nbsp;Hangzhou
                            </div></li>
            </ul>
        </div>
    </fieldset>
  </div>
          </div>
        </div>
      </div>
      <include file="public/footer" />
    </div>

    <script src="../../../public/assets/home/jquery/dist/jquery.min.js"></script>
    <script src="../../../public/assets/home/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>

</html>
